<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Simple Profile Page</title>
  <!-- Add Bootstrap CSS -->
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

  <div class="container mt-5">
    <div class="row">
      <div class="col-md-4">
        <!-- Profile Image -->
        <img src="profile-image.jpg" class="img-fluid rounded-circle" alt="Profile Image">
      </div>
      <div class="col-md-8">
        <!-- Profile Details -->
        <h1>Kenneth Okalang</h1>
        <p>Freelancer C# .NET Developer</p>
        <p>Based in Stockholm</p>
        <p>Interests: APIs, SQL Server, DevOps</p>
      </div>
    </div>
  </div>

  <!-- Add Bootstrap JS and jQuery -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>
